{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'expenses' %}">Expenses</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
              </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-expenses'%}" class="btn btn-primary btn-sm">Add Expenses</a>
        </div>
    </div>

    <div class="container mt-4">

        <div class="row mb-3">
            <div class="col-md-4"></div>
            
            <div class="col-md-2 mb-2">
                <a href="{% url 'export_excel' %}" class="btn btn-primary">Export Excel</a>
            </div>
            <div class="col-md-2 mb-2">
                <a href="{% url 'export_csv' %}" class="btn btn-secondary">Export CSV</a>
            </div>
            <div class="col-md-4">
                <div class="form-gorup">
                    <input type="text" name="" class="form-control" id="searchField" placeholder="Search">
                </div>
            </div>
        </div>

        <div class="app-table">
            <table class="table table-stripped table-hover">
                <thead class='thead-dark'>
                    <tr>
                        <th>Amount({{currency}})</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>  
                    </tr>
                </thead>
                <tbody>
                    {% for item in page_obj %}
                    <tr> 
                        <td>{{item.amount}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.date}}</td>
                        <td> <a href="{% url 'edit-expenses' item.id %}" class="btn btn-secondary btn-sm">Edit</a> </td>    
                    </tr>
    
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-output" style="display:none">
            <table class="table table-stripped table-hover">
            <thead class='thead-dark'>
                <tr>
                    <th>Amount({{currency}})</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>  
                </tr>
            </thead>
            <tbody class="table-body">
            </tbody>
            </table>
            
        </div>
        <div class="no-result">
                
        </div>
        
        <div class="pagination-container">
            <div>
                Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </div>
            
            <ul class="pagination align-right float-right mr-auto">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif%}> <a class="page-link" href="?page=1">&laquo; 1</a></li>
                <li class="page-items"> <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li  class="page-item" > <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                <li class="page-items"> <a href="?page={{page_obj.paginator.num_pages}}" class="page-link">{{page_obj.paginator.num_pages}} &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script src="{% static 'js/searchExpenses.js' %}"></script>

{% endblock content %}